%h1 Listing posts

%table
  %thead
    %tr
      %th Content
      %th Subject
      %th
      %th
      %th

  =render_real_time partial: "posts/posts_list", real_time: {posts: @posts}, element: :tbody

%br

= link_to 'New Post', new_post_path
